<ion-header>
  <ion-toolbar>
    <ion-title>스터디 생성</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">취소</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form onsubmit="processForm(event)">
    <ion-grid fixed>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">이름 <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="name" type="text"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">인원</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="1" selected>1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">설명 <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-textarea required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <div margin-top>
        <ion-button expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
      </div>

      <app-locatin-picker></app-locatin-picker>

    </ion-grid>
  </form>
</ion-content>