<ion-header>
  <ion-toolbar>
    <ion-title>스터디 생성</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">취소</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <form [formGroup]="form">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">이름 <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">인원</ion-label>
            <ion-select interface="popover" formControlName="capacity">
              <ion-select-option value="1" selected>1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">시작 날짜 <ion-text color="danger">*</ion-text></ion-label>
            <ion-datetime min="2019-01-01" max="2025-12-31" formControlName="dateFrom"></ion-datetime>
            </ion-item>
        </ion-col>
        <ion-col size-sm="3">
            <ion-item>
              <ion-label position="stacked">종료 날짜 <ion-text color="danger">*</ion-text></ion-label>
              <ion-datetime min="2019-01-02" max="2025-12-31" formControlName="dateTo"></ion-datetime>
              </ion-item>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">설명 <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row margin-top>
        <ion-col size-sm="6" offset-sm="3">
          <app-locatin-picker (locationPicked)="locationPicked($event)"></app-locatin-picker>
        </ion-col>
      </ion-row>
   

      <div margin-top>
        <ion-button expand="block" (click)="onCreateOffer()" class="ion-no-margin">생성</ion-button>
      </div>


    </ion-grid>
  </form>
</ion-content>