<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="referer" text="뒤로"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{studyId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-grid fixed *ngIf="!isLoading">

    <ion-row>
      <ion-list-header>설명</ion-list-header>
      <ion-col size-sm="6" offset-sm="3" text-center>
      <p>{{study.description}}</p>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-list-header>스터디원</ion-list-header>
     
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/person.png">
        </ion-avatar>
        <ion-label>
          <h3>지희욱</h3>
          <p>반갑습니다! 잘부탁드려요</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/person.png">
        </ion-avatar>
        <ion-label>
          <h3>이지환</h3>
          <p>반갑습니다! 잘부탁드려요</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/person.png">
        </ion-avatar>
        <ion-label>
          <h3>이상승</h3>
          <p>반갑습니다! 잘부탁드려요</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/person.png">
        </ion-avatar>
        <ion-label>
          <h3>박서웅</h3>
          <p>반갑습니다! 잘부탁드려요</p>
        </ion-label>
      </ion-item>
    </ion-list>


    <ion-row>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <!--<ion-img role="button" (click)="onShowFullMap()" class="location-image" [src]="study.location.staticMapImageUrl"></ion-img>-->
       </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>