<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>스터디를 검색하세요!</ion-title>
  </ion-toolbar>
  <ion-toolbar>
  <!-- debounce로 지연시간을 준다.-->
    <ion-searchbar placeholder="지역/분야/키워드 검색" #searchbar (ionChange)="onSearch($event)" debounce="300"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let pixie of loadedPixies">
      <ion-item detail lines="none" #items>
        <ion-avatar slot="start">
          <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{pixie.id}}</h2>
          <p>{{pixie.image}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
          <ion-item-option>
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>