<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        The world is your oyster.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button [routerLink]="['/','pixies']">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding">

  </div>
</ion-content>